Label{
    -fx-font-family: "Roboto";
    -fx-font-size : 15;
    -fx-text-fill : font-color;
}

.pane{
    -fx-background-color: bg-color;
}

.alert-pane{
    -fx-background-color: rgba(0,0,0,0.5);
}

.alert-pane VBox{
    -fx-background-color: bg-color;
    -fx-background-radius: 5px;
}

/*.flat-btn{
    -fx-background:none;
    -fx-background-color:transparent;
    -fx-border:none;
    -fx-text-fill:cyan;
    -fx-font-family:"Roboto";
}*/

.btn-cyan{
    -fx-text-fill:cyan;
}

.btn-green{
    -fx-text-fill:green;
}

.btn-red{
    -fx-text-fill:red;
}

.btn-orange{
    -fx-text-fill:orange;
}




.h1{
    -fx-font-size:32;
}

.h2{
    -fx-font-size:24;
}

.h3{
    -fx-font-size:18;
}

.h4{
    -fx-font-size:16;
}

.scroll-pane .viewport {
       -fx-background-color: transparent;
}

.scroll-pane{
   -fx-background-color:transparent;
}


.drop_shadow {
    -fx-effect: dropshadow(three-pass-box, red, 15, 0, 0, 0)
}

/*.text{
    -fx-font-smoothing-type: gray;
}*/

.action_box {
    /*-fx-effect: dropshadow(three-pass-box, red, 5, 0, 0, 0);*/
    -fx-border-color : gray;
    -fx-border-width : 1;
    -fx-border-radius : 10;
    -fx-background-color:black;
}

TextField {
    -fx-background-color:transparent;
    -fx-background:none;
    -fx-text-fill:white;
    -fx-font-family:"Roboto";
    -fx-border-color:green;
    -fx-border-width: 0 0 1 0;
    -fx-font-size : 15;
}

.pane {
    -fx-background-color:black;
}

Label {
    -fx-text-fill:white;
}

Button {
    -fx-background:none;
    -fx-background-color:transparent;
    -fx-border:none;
    -fx-text-fill:font-color;
    -fx-font-family:"Roboto";
    -fx-font-size: 14;
    -fx-padding:10;
}